.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-content_name
        ishida
      %a.chat-side__user-content_newgroup
        %i.fas.fa-edit
      %p.chat-side__user-edit-user
        %i.fa.fa-cog
  .chat-side__groups
    .chat-side__groups-list
      .chat-side__groups-list-box
        .chat-side__groups-list-box2
          .chat-side__groups-list-box2_chat
            oio
          .chat-side__groups-list-box2_message
            aaaaa
