*, *:before, *:after {
    box-sizing: border-box;
}

.chat-side {
  width: 300px;
  height: 100vh;
  float: left;
  background-color: #2f3E51;

  &__user {
    width: 100%;
    height: 15%;
    position: relative;
    background-color: #253141;

    &-content {
      height: 50px;
      width: 100%;
      line-height: 50px;
      margin: auto 0;
      position: absolute;
      top: 0;
      bottom: 0;

      &_name {
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        margin: 0 20px;
        position: relative;
        display: inline-block;
      }

      a {
      color: #fff;
      margin-left: 90px;
      position: relative;
      display: inline-block;
        i {
        display: inline-block;
        }
      }
      p {
      color: #fff;
      position: relative;
      display: inline-block;
        i {
        display: inline-block;
        }
      }
    }
  }
  &__groups {
    height: 85%;
    width: 100%;
    background-color: #2f3e51;
    &-list {
      height: 100%;
      color: #fff;
      &-box {
        color: inherit;
        &2 {
          padding: 20px;
          &_chat {
            font-size: 15px;
          }
          &_message {
            font-size: 11px;
          }
        }
      }
    }
  }
}

